# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [67]:
# @title Imports
import numpy as np
import pandas as pd

In [6]:
### TODO
# Name = ['Beuys, Joseph', 'Constable, John', 'Daniell, William', 'Forbes, Elizabeth', 'Flaxman, John', 'Phillips, Thomas',
#         'Paolozzi, Sir Eduardo', 'Schendel, Mira', 'Turner, William', 'Warhol, Andy']
# Gender = ['Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male']
# Year_Birth = np.array([1921, 1776, 1769, 1859, 1755, 1770, 1924, 1919, 1775, 1928], dtype=np.int64)
# Year_Death = np.array([1986, 1837, 1837, 1912, 1826, 1845, 2005, 1988, 1851, 1987], dtype=np.int64)
# N_works = np.array([588, 249, 612, 120, 287, 274, 385, 3, 1861, 272], dtype=np.int64)

# d = {'Name':Name, 'Gender':Gender, 'Year_Birth':Year_Birth, 'Year_Death':Year_Death, 'N_works':N_works}
# tate_dataset = pd.DataFrame(data=d)
# tate_dataset

### Method from tutor
table = """Beuys, Joseph	Male	1921	1986	588
Constable, John	Male	1776	1837	249
Daniell, William	Male	1769	1837	612
Forbes, Elizabeth	Female	1859	1912	120
Flaxman, John	Male	1755	1826	287
Phillips, Thomas	Male	1770	1845	274
Paolozzi, Sir Eduardo	Male	1924	2005	385
Schendel, Mira	Female	1919	1988	3
Turner, William	Male	1775	1851	1861
Warhol, Andy	Male	1928	1987	272"""

lines = table.split("\n")
elements = [word.split("\t") for word in lines]

# tate_dataset = pd.DataFrame(elements, columns = "Name	Gender	Year_Birth	Year_Death	N_works".split("\t"))
columns = "Name	Gender	Year_Birth	Year_Death	N_works"
### 去除首位字符，默认空格/换行，解决下面tate_dataset['Gender'] bug
tate_dataset = pd.DataFrame(elements, columns = [c.strip() for c in columns.split("\t")])
tate_dataset

                    Name  Gender Year_Birth Year_Death N_works
0          Beuys, Joseph    Male       1921       1986     588
1        Constable, John    Male       1776       1837     249
2       Daniell, William    Male       1769       1837     612
3      Forbes, Elizabeth  Female       1859       1912     120
4          Flaxman, John    Male       1755       1826     287
5       Phillips, Thomas    Male       1770       1845     274
6  Paolozzi, Sir Eduardo    Male       1924       2005     385
7         Schendel, Mira  Female       1919       1988       3
8        Turner, William    Male       1775       1851    1861
9           Warhol, Andy    Male       1928       1987     272

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

### .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [3]:
tate_dataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [4]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself.

In [5]:
### TODO
tate_dataset.to_csv('tate_dataset_1.csv', index=True, header=False)
#index: 是否保存索引行 header: 是否保存列名
tate_2 = pd.read_csv('tate_dataset_1.csv')
tate_2

   0          Beuys, Joseph    Male  1921  1986   588
0  1        Constable, John    Male  1776  1837   249
1  2       Daniell, William    Male  1769  1837   612
2  3      Forbes, Elizabeth  Female  1859  1912   120
3  4          Flaxman, John    Male  1755  1826   287
4  5       Phillips, Thomas    Male  1770  1845   274
5  6  Paolozzi, Sir Eduardo    Male  1924  2005   385
6  7         Schendel, Mira  Female  1919  1988     3
7  8        Turner, William    Male  1775  1851  1861
8  9           Warhol, Andy    Male  1928  1987   272

Delete the csv file now that we are done using it.

### pickle — Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [6]:
import pickle
# picking: 把python形式的对象都转化为二进制存放
tate_dataset.to_pickle('tate_dataset.pkl')

In [7]:
tate_2 = pd.read_pickle('tate_dataset.pkl')
tate_2

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [8]:
# Check data type of the columns for Tate_1
tate_1.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

In [9]:
# Check data type of the columns for TateDataset
tate_dataset.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

We can also display the values of a single column and check their data type as follow:

In [10]:
tate_dataset['Gender']

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [14]:
#@title Functions to download data 
########################################################################
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
########################################################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [15]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Local directory where you want to download and save the dataset.
data_dir = "weather-data/"

Now, we can download the dataset into the chosen local directory

In [16]:
download_and_extract(url=data_url, download_dir=data_dir)

- Download progress: 100.0%
Download finished. Extracting files.
Done.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?

**[TO DO]:** Select a format and load the dataset .

In [17]:
### TODO
#Load dataset using pandas
df_csv = pd.read_csv('./weather-data/weather-denmark.csv')

In [18]:
### TODO
df_csv

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [19]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")#path joint

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [20]:
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())

In [21]:
df = load_original_data()
# df = pd.read_pickle(os.path.join(data_dir, "weather-denmark.pkl"))
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

In [30]:
### TODO
print(df.columns)#看每列的title
print(df.index)#看哪些是索引值

Index(['Temp', 'Pressure', 'WindSpeed', 'WindDir'], dtype='object')
MultiIndex([( 'Aalborg', '1980-03-01 00:00:00'),
            ( 'Aalborg', '1980-03-01 00:20:00'),
            ( 'Aalborg', '1980-03-01 00:50:00'),
            ( 'Aalborg', '1980-03-01 01:20:00'),
            ( 'Aalborg', '1980-03-01 01:50:00'),
            ( 'Aalborg', '1980-03-01 02:20:00'),
            ( 'Aalborg', '1980-03-01 03:00:00'),
            ( 'Aalborg', '1980-03-01 03:20:00'),
            ( 'Aalborg', '1980-03-01 04:00:00'),
            ( 'Aalborg', '1980-03-01 04:01:00'),
            ...
            ('Roskilde', '2018-03-01 20:50:00'),
            ('Roskilde', '2018-03-01 21:00:00'),
            ('Roskilde', '2018-03-01 21:20:00'),
            ('Roskilde', '2018-03-01 21:50:00'),
            ('Roskilde', '2018-03-01 22:00:00'),
            ('Roskilde', '2018-03-01 22:20:00'),
            ('Roskilde', '2018-03-01 22:50:00'),
            ('Roskilde', '2018-03-01 23:00:00'),
            ('Roskilde', '2018-03-01 23:20:00'),
            ('Roskilde', '2018-03-01 23:50:00')],
           names=['City', 'DateTime'], length=2918150)

In [33]:
df.xs('Aalborg').index

DatetimeIndex(['1980-03-01 00:00:00', '1980-03-01 00:20:00',
               '1980-03-01 00:50:00', '1980-03-01 01:20:00',
               '1980-03-01 01:50:00', '1980-03-01 02:20:00',
               '1980-03-01 03:00:00', '1980-03-01 03:20:00',
               '1980-03-01 04:00:00', '1980-03-01 04:01:00',
               ...
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:30:00', '2018-03-01 22:50:00',
               '2018-03-01 23:00:00', '2018-03-01 23:04:00',
               '2018-03-01 23:21:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=759897, freq=None)

In [32]:
df.xs('Roskilde').index

DatetimeIndex(['1980-03-01 10:50:00', '1980-03-01 12:50:00',
               '1980-03-01 13:50:00', '1980-03-01 15:50:00',
               '1980-03-01 16:50:00', '1980-03-02 04:50:00',
               '1980-03-02 06:50:00', '1980-03-02 07:50:00',
               '1980-03-02 09:50:00', '1980-03-02 10:50:00',
               ...
               '2018-03-01 20:50:00', '2018-03-01 21:00:00',
               '2018-03-01 21:20:00', '2018-03-01 21:50:00',
               '2018-03-01 22:00:00', '2018-03-01 22:20:00',
               '2018-03-01 22:50:00', '2018-03-01 23:00:00',
               '2018-03-01 23:20:00', '2018-03-01 23:50:00'],
              dtype='datetime64[ns]', name='DateTime', length=569852, freq=None)

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [35]:
pip install wbdata

Requirement already satisfied: wbdata in f:\anaconda3\envs\daps\lib\site-packages (0.3.0)
Requirement already satisfied: decorator>=4.0 in f:\anaconda3\envs\daps\lib\site-packages (from wbdata) (5.1.0)
Requirement already satisfied: tabulate>=0.8.5 in f:\anaconda3\envs\daps\lib\site-packages (from wbdata) (0.8.9)
Requirement already satisfied: requests>=2.0 in f:\anaconda3\envs\daps\lib\site-packages (from wbdata) (2.26.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in f:\anaconda3\envs\daps\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in f:\anaconda3\envs\daps\lib\site-packages (from requests>=2.0->wbdata) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in f:\anaconda3\envs\daps\lib\site-packages (from requests>=2.0->wbdata) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in f:\anaconda3\envs\daps\lib\site-packages (from requests>=2.0->wbdata) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in f:\anaconda3\envs\daps\lib\site-packages (from requests>=2.0->wbdata) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [39]:
#@title Imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

In [40]:
### TODO
# id 35: Sustainable Energy for All
wb.get_indicator(source=35)

id                              name
------------------------------  --------------------------------------------------------------------------
1.1_ACCESS.ELECTRICITY.TOT      Access to electricity (% of total population)
1.1_TOTAL.FINAL.ENERGY.CONSUM   Total final energy consumption (TFEC)
1.2_ACCESS.ELECTRICITY.RURAL    Access to electricity (% of rural population)
1.3_ACCESS.ELECTRICITY.URBAN    Access to electricity (% of urban population)
2.1_ACCESS.CFT.TOT              Access to Clean Fuels and Technologies for cooking (% of total population)
2.1_SHARE.TOTAL.RE.IN.TFEC      Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION              Renewable energy consumption (TJ)
4.1.1_TOTAL.ELECTRICITY.OUTPUT  Total electricity output (GWh)
4.1.2_REN.ELECTRICITY.OUTPUT    Renewable energy electricity output (GWh)
4.1_SHARE.RE.IN.ELECTRICITY     Renewable electricity (% in total electricity output)
6.1_PRIMARY.ENERGY.INTENSITY    Energy intensity level of primary energy (MJ/$2005 PPP)

In [53]:
#Set the Date time of 2015
data_date = datetime.datetime(2015, 1, 1), datetime.datetime(2015, 12, 31)

#get dataframe
energy_df = wb.get_dataframe({"3.1_RE.CONSUMPTION": "Renewable energy consumption (TJ)"}, data_date = data_date)
energy_df

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN
...                                                       ...
West Bank and Gaza                                 6701.55000
Western Sahara                                        0.00000
Yemen, Rep.                                        2433.20100
Zambia                                           301679.80000
Zimbabwe                                         324422.60000

[259 rows x 1 columns]

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [59]:
### Display first 5 rows
energy_data.head()

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN

In [58]:
### query data type
energy_data.dtypes

Renewable energy consumption (TJ)    float64
dtype: object

In [60]:
### query index
energy_data.index

Index(['BES Islands', 'Nauru', 'Niue', 'Wallis and Futuna',
       'Caucasian and Central Asia', 'Caucasus and Central Asia',
       'Eastern Asia (including Japan)', 'Eastern Asia (not including Japan)',
       'Eastern Europe', 'Europe',
       ...
       'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Western Sahara',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=259)

In [64]:
### rows 0-4
energy_df["Renewable energy consumption (TJ)"][:5]

country
BES Islands                   112.78860
Nauru                           0.32988
Niue                           16.63123
Wallis and Futuna               0.00000
Caucasian and Central Asia          NaN
Name: Renewable energy consumption (TJ), dtype: float64

### - Exporting the data 

* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

In [70]:
#1. Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
energy_df.to_excel("renewable_energy_cosumption_2015.xlsx")

In [74]:
#2. Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country).

### Create a list of Europen counntries.
list_EU_country = ["Russia", "Germany", "United Kingdom", "France", 
                    "Italy", "Spain", "Ukraine", "Poland", "Romania", 
                    "Netherlands", "Belgium", "Czech", "Greece", 
                    "Portugal", "Sweden", "Hungary", "Belarus", 
                    "Austria", "Serbia", "Switzerland", "Bulgaria",
                    "Denmark", "Finland", "Norway", 
                    "Ireland", "Croatia", "Moldova", "Bosnia and Herzegovina",
                    "Albania", "Lithuania", "North Macedonia", "Slovenia", "Latvia",
                    "Estonia", "Montenegro", "Luxembourg", "Malta", "Iceland",
                    "Andorra", "Monaco", "Liechtenstein", "San Marino"]

### Set the Date time of 2006-2016
data_date_EU = datetime.datetime(2006, 1, 1), datetime.datetime(2016, 12, 31)

### For loop to output European countries
for country in list_EU_country:
    tmp = pd.DataFrame(wb.search_countries(country))
    id = tmp["id"][0]
    # print(id)
    df_energy_EU = pd.DataFrame(wb.get_data("3.1_RE.CONSUMPTION", data_date = data_date_EU, country=id))
    df_energy_EU.to_csv("renewable_energy_consumption_EU/"+id+".csv")

RUS
DEU
GBR
FRA
ITA
ESP
UKR
POL
ROU
NLD
BEL
CZE
GRC
PRT
SWE
HUN
BLR
AUT
SRB
CHE
BGR
DNK
FIN
NOR
IRL
HRV
MDA
BIH
ALB
LTU
MKD
SVN
LVA
EST
MNE
LUX
MLT
ISL
AND
MCO
LIE
SMR